@using Sheet4.Models
@model Sheet4.Models.HomeModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="~/Home/Receipt" method="post">
<!--@Html.BeginForm("Home","Index",FormMethod.Post)-->
@Html.ListBoxFor(model => model.Type, new SelectList(Enum.GetValues(typeof(Sheet4.Models.Type))))
@Html.ListBoxFor(model => model.Size, new SelectList(Enum.GetValues(typeof(Sheet4.Models.Size))))
<br />
@Html.RadioButtonFor(model => model.Combo, Sheet4.Models.Combo.None, new { Checked = "checked" })None
@Html.RadioButtonFor(model => model.Combo, Sheet4.Models.Combo.ChipsNDrink)ChipsNDrink
@Html.RadioButtonFor(model => model.Combo, Sheet4.Models.Combo.CookiesNDrink)CookiesNDrink
    <br /><input type="submit" />
</form>
